/*General Rules*/

body {
    margin: 0 auto;
    padding: 0 auto;
    background: lightgray;
}

#wrapper {
    margin-right: 0 auto;
    margin-left: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

h1{
    font-family: 'Krub', sans-serif;
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
}

footer{
    text-align: center;
    font-size: 15px;
    width: 100%;
    font-family: 'Krub', sans-serif;
    background-color: #343a40;
    color: white;
} 

p#todo{
    text-align: center;
    font-size: 35px;
    font-family: 'Krub', sans-serif;
    padding-top: 50px;
    display: none;
    margin: 0 auto;
}

p#done{
    text-align: center;
    font-size: 35px;
    font-family: 'Krub', sans-serif;
    padding: 15px;
    display: none;
}

::placeholder{
    color: lightsteelblue;
}


/*Buttons and Input*/

button, input{
    outline: none;
}


#main_input {
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    width: 450px;
    height: 40px;
    font-size: 15px;
    font-family: 'Krub', sans-serif;
}

 #submit_btn{
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 90px;
    height: 40px;
    font-family: 'Krub', sans-serif;
    font-size: 18px;
} 


button {
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 90px;
    height: 40px;
    border-radius: 0px;
    border-style: none;
    background-color: white;
    font-family: 'Krub', sans-serif;
    font-size: 18px;
}

.remove, .complete {
    height: 25px;
}

.remove:hover{
    fill: red;
    cursor: pointer;
}

.complete:hover{
    fill: #25AE88;
    cursor: pointer;
}

/*Button on Done list*/

ul#completed_tasks li div button.complete:hover{
    fill: black;
}

ul#completed_tasks li div button.complete{
    fill: #25AE88;
}

/*List Items*/

ul li {
    background-color: white;
    border-radius: 4px;
    max-width: 450px;
    word-wrap: break-word;
    margin: 0 auto;
    margin-top: 10px;
    font-family: 'Krub', sans-serif;
    list-style: none;
    box-shadow: 2px 0px 10px 2px grey;
    position: relative;
    padding: 14px;
    padding-right: 100px;
}

ul li .buttons {
    height: 40px;
    width: 100px;
    top: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    display: block;
}

ul#tasks li:first-of-type {
    margin-top: 10px;
}

ul#completed_tasks li:first-of-type {
    margin-top: -15px;
}


ul li .buttons button {
    height: 35px;
    width: 50px;
    padding: 10px;
    margin: 0px;
    position: absolute;
}

ul li button:last-child {
    margin-left: 50px;
    width: 40px;
    position: absolute;
    margin-top: 0px;
}

ul li button:last-of-type:before {
    content: '';
    width: 1px;
    height: 28px;
    position: absolute;
    top: 10px;
    left: 0px;
    background-color: #edf0f1;
}

ul li:last-of-type{
    margin-bottom: 100px;
} 

ul{
    padding-left: 0;
}

svg{
    transition:fill 0.3s ease;
}

/*Bootsrap CSS*/

#reg_form{
    display: none;
    margin-top: 200px;
}

#log_form{
    display: none;
    margin-top: 200px;
}

#logout{
    display: none;
}

.form-heading{
    margin-bottom: 100px;
}





